@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap');

/*取消所有版面配置*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*寬高設定作用在邊框外緣的範圍內*/
    font-family: 'Overpass', sans-serif;
}
html{
    font-size: 10px;
}

.nav {
    position: fixed;
    /*滾動頁面時一樣維持在網頁最上方*/
    width: 100%;
    height: 10%;
    background-color: #f0f8ff;
    display: flex;
    justify-content: space-between;
    /*物件分散對齊*/
    align-items: center;
    /*水平置中*/
    z-index: 999;
    padding: 0 5%;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.2);
}

.nav_logo {
    width: 102px;
    height: 20px;
}

.nav_bar {
    width: auto;
    display: flex;
    /*水平排列*/
    float: right;
    /*float:right 向右對齊*/
    text-align: right;
    /*文字向右對齊*/
}

.nav_bar ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_bar li {
    display: inline;
    /* inline-水平 */
    margin: 0 20px;
    list-style-type: none;
}

.nav_bar li a {
    color: black;
    width: 102px;
    height: 20px;
    text-decoration: none;
    /*取消超連結底線*/
    transition: color 0.2s 0s ease-in-out;
    font-size: 1.8rem;
}

.nav_bar li a:hover{
    color: #29C8FF;
}

.nav_login a {
    text-decoration: none;
    font-size: 1.8rem;
}

.nav_login a:hover {
    text-decoration: none;
}

.login_btn {
    width: 80px;
    text-align: center;
    color: black;
    border-radius: 20px;
    margin-left: 50px;
}

.login_btn:hover {
    background-color: #29C8FF;
    color: #f0f8ff;
    border: none;
    transition: all .5s;
}

.indeximg {
    position: relative;
    width: 100%;
    height: 800px;
}

.indeximg img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
    object-position: center center;
    z-index: 1;
}

.img_text {
    position: relative;
    z-index: 2;
}

.img_index_title {
    width: 800px;
    margin-top: -375px;
    margin-left: 100px;
    color: #1a1a1a;
}

.img_index_wellcome {
    font-size: 50px;
}

.img_index_name {
    font-size: 80px;
}

.article {
    background-color: aliceblue;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.concept {
    padding: 8% 5%;
}

.concept_title h1 {
    font-size: 55px;
    text-align: center;
}

.concept_subtitle h1 {
    font-size: 35px;
    text-align: center;
}

.concept_formula {
    background-color: transparent;
    height: 250px;
    margin-top: 8%;
    display: flex;
    padding: 5% 20%;
    justify-content: space-between;
    align-items: center;
}

.concept_formula_text {
    font-size: 30px;
}

.icon_storm {
    display: inline-block;
    width: 100px;
    height: 100px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M16 21a5 5 0 1 1 5-5a5.006 5.006 0 0 1-5 5m0-8a3 3 0 1 0 3 3a3.003 3.003 0 0 0-3-3'/%3E%3Cpath fill='%23000' d='m22.652 4.182l-2.177 2.514l-1.404 1.621l1.715 1.288A7.94 7.94 0 0 1 23.996 16l.001.058l.002.041c.018.432.241 10.111-14.654 11.722l2.18-2.517l1.404-1.621l-1.715-1.288A7.94 7.94 0 0 1 8.004 16l-.001-.058L8 15.901c-.018-.431-.24-10.094 14.651-11.719M24.998 2l-.05.001C5.254 2.915 6.005 16 6.005 16a9.98 9.98 0 0 0 4.01 7.995l-3.777 4.36A1.004 1.004 0 0 0 7.002 30l.05-.001C26.747 29.085 25.996 16 25.996 16a9.98 9.98 0 0 0-4.009-7.995l3.776-4.36A1.004 1.004 0 0 0 24.998 2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.icon_plus {
    display: inline-block;
    width: 70px;
    height: 70px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5v14m-7-7h14'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.icon_equals {
    display: inline-block;
    width: 80px;
    height: 80px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M18 9.998H6a1 1 0 1 1 0-2h12a1 1 0 0 1 0 2m0 6H6a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.concept_meaning {
    padding: 5%;
}

.concept_meaning_content {
    margin: 150px 0;
    text-align: center;
}

.concept_meaning_content h1 {
    font-size: 50px;
}

.concept_color {
    padding: 5%;
}

.concept_color_number {
    margin: 10% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color_num_1 {
    background-color: #FF8AC2;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.color_num_1 h1 {
    color: white;
    height: 250px;
    width: 250px;
    text-align: center;
    line-height: 250px;
    /*文字垂直置中(要設置跟div一樣高度)*/
}

.color_num_2 {
    background-color: #FFBB00;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.color_num_2 h1 {
    color: white;
    height: 250px;
    width: 250px;
    text-align: center;
    line-height: 250px;
    /*文字垂直置中(要設置跟div一樣高度)*/
}

.color_num_3 {
    background-color: #29C8FF;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.color_num_3 h1 {
    color: white;
    height: 250px;
    width: 250px;
    text-align: center;
    line-height: 250px;
    /*文字垂直置中(要設置跟div一樣高度)*/
}

.footer {
    width: 100%;
    background-color: #29C8FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5% 1% 5%;
}

.footer_logo {
    margin: 0 8% 0 3%;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    /*垂直排列*/
}

.footer_nav_a {
    margin: 10%;
}

.footer_nav_a a {
    color: white;
    text-decoration: none;
    /*取消超連結底線*/
    font-size: 20px;
}

.footer_contactme {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}

.footer_contactme_title {
    display: flex;
}

.footer_contactme_title_img {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z'/%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin: 0 10px 0 10px;
}

.footer_contactme_title h1 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.footer_contactme_email {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 2px 0;
    margin: 0 5px;
}

.footer_contactme_email h1 {
    font-size: 20px;
    color: #29C8FF;
    margin: 0 10px;
    text-align: center;
}

.copyright {
    background-color: #29C8FF;
    padding: 0 1%;
}

.copyright h1 {
    font-size: 10px;
    color: white;
    text-align: right;
}

.about_title h1 {
    margin-top: -375px;
    margin-left: 5%;
    font-size: 80px;
}

.portfolio_block {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 150px;
}

.portfolio_title {
    text-align: center;
    font-size: 4.5rem;
    margin: 70px 0;
}

.portfolio_wrap{
    width: 100%;
    height: 100%;
}

.portfolio_link {
    width: 70%;
    height: 35%;
    margin: auto;
    border-radius: 20px;
    border: white 1px solid;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    margin-bottom: 50px;
}

.portfolio_link a{    
    text-decoration: none;
}

.portfolio_item{
    width: 100%;
    height: 100%;
    display: flex;    
    border-radius: 20px;
    transition: all 0.5s 0s ease-in-out;
}

.portfolio_item:hover{
    backdrop-filter: hue-rotate(90deg);    
}

.portfolio_item_img_block{
    width: 40%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio_item_img{
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.portfolio_item_img_1{
    background-image: url("img/creditcard page.png");
}

.portfolio_item_img_2{
    background-image: url("img/calculator.png");
}

.portfolio_item_text{
    width: 60%;
    height: 100%;
    position: relative;
    padding: 2%;
    color: white;
}
.portfolio_item_title{
    font-size: 3.5rem;
    margin-bottom: 10px;
}
.portfolio_item_content{
    font-size: 1.6rem;
}
.portfolio_item_btn{
    width: 15%;
    height: 15%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-left: 80%;
    color: #8fd3f4;
}